{
  "singleQuote": true,
  "printWidth": 140,
  "arrowParens": "avoid",
  "bracketSpacing": true,
  "cursorOffset": -1,
  "endOfLine": "auto",
  "htmlWhitespaceSensitivity": "css",
  "insertPragma": false,
  "quoteProps": "as-needed",
  "tabWidth": 2,
  "proseWrap": "preserve",
  "plugins": [],
  "semi": true,
  "useTabs": false,
  "trailingComma": "all",
  "requirePragma": false
}
